@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 11% 91%;
    --foreground: 120 5% 25%;
    --card: 120 11% 96%;
    --card-foreground: 120 5% 25%;
    --popover: 120 11% 96%;
    --popover-foreground: 120 5% 25%;
    --primary: 120 30% 77%;
    --primary-foreground: 120 20% 20%;
    --secondary: 29 100% 92%;
    --secondary-foreground: 29 50% 40%;
    --muted: 120 10% 85%;
    --muted-foreground: 120 5% 45%;
    --accent: 29 100% 86%;
    --accent-foreground: 29 50% 35%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 88%;
    --ring: 120 30% 67%;
    --chart-1: 120 30% 77%;
    --chart-2: 29 100% 86%;
    --chart-3: 120 20% 60%;
    --chart-4: 29 80% 80%;
    --chart-5: 120 15% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 5% 10%;
    --foreground: 120 5% 95%;
    --card: 120 5% 12%;
    --card-foreground: 120 5% 95%;
    --popover: 120 5% 10%;
    --popover-foreground: 120 5% 95%;
    --primary: 120 30% 77%;
    --primary-foreground: 120 20% 20%;
    --secondary: 29 50% 20%;
    --secondary-foreground: 29 100% 86%;
    --muted: 120 5% 20%;
    --muted-foreground: 120 5% 65%;
    --accent: 29 50% 30%;
    --accent-foreground: 29 100% 86%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 25%;
    --input: 120 5% 22%;
    --ring: 120 30% 67%;
    --chart-1: 120 30% 77%;
    --chart-2: 29 100% 86%;
    --chart-3: 120 20% 60%;
    --chart-4: 29 80% 80%;
    --chart-5: 120 15% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
